# List of packages that can be used with these dotfiles.
# Intended to be installed to the system Python.

# Powerline stuff
#
# Powerline is able to work with pygit2 -or- the plain git executable.
# Installing pygit2 is disabled by default because it has dependencies
# (libgit2, which depends on cmake) which are not necessarily simple
# to install. That said, with Homebrew, installing pygit2 is rather
# easy so we may as well. Assuming your system Python is
# '/usr/bin/python' and that pip is installed to the user site, run:
#
#     brew install libgit2
#
# pygit2 requires cffi to be installed first (annoyingly):
#
#     system_python_pip="$(/usr/bin/python -m site --user-base)/bin/pip"
#     "$system_python_pip" install --user cffi==0.8.6
#
# Finally install pygit2:
#
#     "$system_python_pip" install --user pygit2==0.21.2
#
powerline-status==1.2
psutil==2.1.3
bzr==2.6.0
pycparser==2.10
mercurial==3.1.2

# Portable archive file manager
patool==1.7
